body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #006400; /* Groen, gebaseerd op de kleuren van Scouting */
}

button {
    background-color: #006400;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004d00;
}

div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
}

.article h2 {
    color: #006400;
}

/* Eerdere CSS hier */

/* Container voor het inlog- en registratieformulier */
#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  /* Formulieren */
  #loginForm, #registerForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Invoervelden */
  #loginForm input, #registerForm input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Knoppen */
  #loginForm button, #registerForm button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  #loginForm button:hover, #registerForm button:hover {
    background-color: #45a049;
  }
  